.idea/
cmake-build-debug/
*.o
mm

# Too big for github.
matrix/A2048.csv
matrix/A4096.csv
matrix/A8192.csv
matrix/B2048.csv
matrix/B4096.csv
matrix/B8192.csv
matrix/C2048.csv
matrix/C4096.csv
matrix/C8192.csv

